
<form action="/artists" style="" method="GET">
<label for="">Artist</label>
  <input id="artist-input" type="text" name="artist">
  <button type="submit" value= "Save Name"> Search for artist </button>
</form>
<!-- // cuando tu le des a submit me bysco la ruta artists -->
